<div class="container" ng-controller="LoginCtrl">
	<div class="row"></div>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4 text-center"><h5>Sign in to continue CMS</h5>
			<div class="jumbotron">
				<form role="form" action="/" id="cmsLogin">
					<div class="form-group">
						<input  class="form-control col-xs-2" type="text" name="username" id="password" ng-model="username" placeholder="Username" autofocus />
	    			</div>	
	    			
	    			<input class="form-control col-xs-2"  type="password" name="password" id="password" ng-model="password" placeholder="Password" />
	    			<button type="button" ng-click="submit()" class="btn-xs btn btn-primary btn-block">Sign in</button>
	     			<label class="checkbox pull-left">
          				<input type="checkbox" value="remember-me"> Remember me
        			</label>
					<a href="#" class="pull-right help">Need help? </a><span class="clearfix"></span>	
				</form>
				<a href="#" class="text-center account-creation">Create an account </a>	
			</div>
		</div>
		<div class="col-md-4"></div>
	</div>
	<div class="row"></div>
</div>